<%- include('includes/cab.ejs') %>

<% if(pelicula) { %>
    <h1 class="title">Editar Pelicula</h1>
    <form action="peliculas/editar" method="POST"></form>
    <input type="hidden" name="id" value="<%pelicula.id >">
<% } else { %>
    <h1 class="title">Registrar nueva película</h1></form>
<% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

    <label for="titulo">Título:</label>
    <input required name="titulo" id="titulo" class="input is-rounded" type="text" placeholder="MOVIE"  
        value="<% if(pelicula) { %><%=pelicula.nombre %><%} %>">
    <br><br>
    <label for="productora">Productora:</label>
    <div class="select is-primary">
        <select name="productora" id="productora">
            <% for (let productora of productoras) { %>
                <option value="<%= productora.id %>" <% if(pelicula.productora == productora.id) { %> select <% } %>>
                    <%= productora.nombre %> 
                </option> 
            <% } %>
        </select>
    </div>
    <br><br>
    <label for="descripcion">Descripcion:</label>
    <input name="descripcion" id="descripcion" class="input is-rounded" type="text" placeholder="Buena"
        value="<% if(pelicula) { %> <%=pelicula.descripcion %> <%} %>">
    <br><br>
<% if(pelicula != '') { %> 
    <input class="button is-rounded is-success" type="submit" value="Actualizar">
    <% } else { %> 
        <input class="button is-rounded is-success" type="submit" value="Registrar">
    <% } %>  

</form>

<%- include('includes/foot.ejs') %>     
